<!DOCTYPE html>
<html>
  <head>
    <title>Hello!</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
        .hello-page__container {
            text-align: center;
            margin-top: 300px;
        }
        body {
            font-family: "Montserrat";
        }
        h2 > a {
            text-decoration: none;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
        }
        h2 > a:visited {
            color: mediumslateblue;
        }
        h2 > a:hover {
            color: deepskyblue;
            font-size: 34px;
        }
        .hello-page__list > li {
            font-size: 26px;
            margin: 0 auto;
            margin-top: 20px;
            font-family: "Montserrat";
            list-style-type: none;
        }
    </style>
  </head>
  <body>
    <div class="hello-page__container">
        <h1>
          WELCOME TO MY RUBY APPLICATION FOR OBLAKO GROUP COMPANY
        </h1>
        <h2>
          API queries are listed below:
        </h2>
        <ul class="hello-page__list">
          <li>GET /projects — вернуть все проекты с задачами;</li>
          <li>POST /todos — создать новую задачу;</li>
          <li>POST /projects - создать новый проект</li>
          <li>PATCH /projects/id/todo/id — обновить задачу.</li>
        </ul>
    </div>
  </body>
</html>